<style type="text/css">
    .sign_up_background {
        background: rgba(255,255,255,0.7);
    }

    .sign_up {
        margin-left: 25%;
        margin-top: 15%;
    }

    .control-label {
        color: black;
        font-size: 20px;
        margin-top: 15px;
        font-family: 'Basic Comical NC';
    }

    .email, .password_confirmation, .name {
        margin-top: 15px;
    }

    em {
        margin-left: 15px;
    }

    .btn-primary {
        margin-bottom: 10px;
    }

    .col-sm-4 {
        width: 420px;
    }

    .devise_error {
        width: 45%;
        padding: 10px;
        border: 2px solid white;
        color: white;
        text-decoration: none;
    }

</style>

<% if devise_error_messages? %>
  <div class="devise_error"><%= devise_error_messages! %></div>
<% end %>

<div class="sign_up_background">
    <div class="sign_up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 
        'form-horizontal'}) do |f| %>

    <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <div class="col-sm-4 name">
            <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-4 email">
            <%= f.email_field :email, class: "form-control" %>
        </div>
    </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="col-sm-4">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

    <div class="form-group">
        <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
        <div class="col-sm-4 password_confirmation">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
    </div>

    <% end %>
    </div>
</div>